*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right,rgb(97, 4, 184), rgb(41, 41, 240), royalblue, white);
    background-size: cover;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:60px;
}

.menu{
    display:flex;
    gap:50px;
}

.menu a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 14px;
    padding-right: 50px;
}

.right-menu a{
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:10px 20px;
    background: linear-gradient(to right, #2464f0, #1b181b);
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 14px;
}

.projects{
    margin: 20px auto;
    display:flex;
    gap: 10px;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:45%;
}

.project{
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.project img{
    height: auto;
    border-radius: 10px;
}

.prj3{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 50%;
  margin: 0 auto;
  padding: 20px 10px;
}

h2{
    padding-top: 10px;
    padding-bottom: 5px;
    font-family:'Times New Roman', Times, serif
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 14px;
}

